@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap");
body {
  margin: auto;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
}

h2 {
  color: #7b7875;
  border-bottom: solid 6px #B7265E;
}

.header {
  background-image: url("/images/en_tete_CPR-Com.jpg");
  color: white;
  font-style: italic;
  height: 75px;
  margin: auto;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section:hover {
  -webkit-box-shadow: 10px 5px 5px #7b7875;
          box-shadow: 10px 5px 5px #7b7875;
}

nav {
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.edito {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.article1 {
  -ms-grid-column: span 3;
      grid-column-start: span 3;
}

.article2 {
  -ms-grid-column: span 2;
      grid-column-start: span 2;
}

.article3 {
  -ms-grid-column: 1;
      grid-column-start: 1;
}

.img-article3 {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.img-article3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.aside-article3 {
  -ms-grid-column: 3;
      grid-column-start: 3;
}

.article4, .article5 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

@media screen and (min-width: 700px) {
  body {
    width: 100%;
  }
  section {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  nav {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .edito {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .article1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .article2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .article3 {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .img-article3 {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .img-article3 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .aside-article3 {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
  .article4, .article5 {
    -ms-grid-column: 1;
        grid-column-start: 1;
  }
}
