@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

body{
    margin: auto;
    padding:0;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    

}
h2{
    color: $color-secondary;
    border-bottom: solid 6px $color-primary;
}

