@media screen and (min-width:700px){
    body{
        width: 100%;
    }
    section{
        grid-template-columns: 100%;
    }
    nav{
        grid-column-start:1 ;
    }
    .edito{
        grid-column-start: 1;
    }
    .article1{
        grid-column-start: 1;
    }
    .article2{
        grid-column-start: 1;
    }
    .article3{
        grid-column-start: 1;
    }
    .img-article3{
        grid-column-start: 1;
        & img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        }
    }
    .aside-article3{
        grid-column-start: 1;
    }
    .article4, .article5{
        grid-column-start: 1;
    }
}
    
