section{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
    &:hover{
    box-shadow: 10px 5px 5px $color-secondary;
    }
}

nav{
    grid-column-start:1 ;
}
.edito{
    grid-column-start: 2;
    grid-column-end: 3;
}
.article1{
    grid-column-start: span 3;
}
.article2{
    grid-column-start: span 2;
}
.article3{
    grid-column-start: 1;
}
.img-article3{
    grid-column-start: 2;
    & img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
}
.aside-article3{
    grid-column-start: 3;
}
.article4, .article5{
    grid-column-start: 2;
    grid-column-end: 3;
}
