.header{
    background-image: url("/images/en_tete_CPR-Com.jpg");
    color: white;
    font-style: italic;
    height: 75px;
    margin: auto
    
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    }